body {
    font: 16px/1 Helvetica, sans-serif;
}

#photos {
    float: left;
    width: 100%;
}

.photo {
    -webkit-box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.2);
    float: left;
    margin: 10px 10px 25px;
	min-height: 160px;
	min-width: 160px;
    padding: 20px 5px 20px;
    overflow: hidden;
}

.photo img {
	height: 160px;
    min-width: 160px;
    max-width: 240px;
}

.photo div {
  color: #f00;
  display: block;
  margin: 10px auto 0;
  text-decoration: none;
  width: 18px;
}

.photo div:hover {
	cursor: pointer;
}